trigger:
  branches:
    include:
      - main
      - stage
      - qa
      - dev

parameters:
- name: environment
  displayName: Target Environment (Manual Override)
  type: string
  default: dev
  values:
  - dev
  - qa
  - stage
  - prod

variables:
  vmImageName: 'ubuntu-latest'
  azureServiceConnection: 'Azure subscription 1(525c7c1f-f5e9-4bf4-8d7a-5b7a06889a12)'
  
  # Logic to map Branch Name to Environment Name
  # Azure DevOps evaluates these at compile time
  ${{ if eq(variables['Build.SourceBranchName'], 'main') }}:
    envName: 'prod'
  ${{ if eq(variables['Build.SourceBranchName'], 'stage') }}:
    envName: 'stage'
  ${{ if eq(variables['Build.SourceBranchName'], 'qa') }}:
    envName: 'qa'
  ${{ if eq(variables['Build.SourceBranchName'], 'dev') }}:
    envName: 'dev'
  
  # Fallback: If the branch is NOT one of the above, use the parameter dropdown
  ${{ if not(in(variables['Build.SourceBranchName'], 'main', 'stage', 'qa', 'dev')) }}:
    envName: ${{ parameters.environment }}

  # Dynamic strings based on the detected environment
  tfVars: '-var-file=environments/$(envName)/terraform.tfvars'
  extraVars: '-var="subscription_id=$(SUB_ID)"'

pool:
  vmImage: $(vmImageName)

stages:
- stage: Plan
  displayName: Plan - $(envName)
  jobs:
  - job: Terraform_Plan
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTask@5
      displayName: 'Init'
      inputs:
        provider: 'azurerm'
        command: 'init'
        backendServiceArm: $(azureServiceConnection)
        backendAzureRmResourceGroupName: 'terraform-deploy'
        backendAzureRmStorageAccountName: 'terraformsflg'
        backendAzureRmContainerName: 'tf-aks-build'
        # Unique state file prevents environments from overwriting each other
        backendAzureRmKey: '$(envName).terraform.tfstate' 
        backendAzureRmUseAzureAd: true