
trigger:
  branches:
    include:
      - main
      - stage
      - qa
      - dev

parameters:
- name: environment
  displayName: Target Environment (Manual Override)
  type: string
  default: dev
  values:
  - dev
  - qa
  - stage
  - prod

variables:
  vmImageName: 'ubuntu-latest'
  azureServiceConnection: 'Azure subscription 1(525c7c1f-f5e9-4bf4-8d7a-5b7a06889a12)'
  
  ${{ if eq(variables['Build.SourceBranchName'], 'main') }}:
    envName: 'prod'
  ${{ elif eq(variables['Build.SourceBranchName'], 'stage') }}:
    envName: 'stage'
  ${{ elif eq(variables['Build.SourceBranchName'], 'qa') }}:
    envName: 'qa'
  ${{ elif eq(variables['Build.SourceBranchName'], 'dev') }}:
    envName: 'dev'
  # Fallback: If it's a manual run, use the parameter value
  ${{ else }}:
    envName: ${{ parameters.environment }}

  tfVars: '-var-file=environments/$(envName)/terraform.tfvars'
  extraVars: '-var="subscription_id=$(SUB_ID)"'

pool:
  vmImage: $(vmImageName)

stages:
- stage: Plan
  displayName: Plan - $(envName)
  jobs:
  - job: Terraform_Plan
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTask@5
      displayName: 'Init'
      inputs:
        provider: 'azurerm'
        command: 'init'
        backendServiceArm: $(azureServiceConnection)
        backendAzureRmResourceGroupName: 'terraform-deploy'
        backendAzureRmStorageAccountName: 'terraformsflg'
        backendAzureRmContainerName: 'tf-aks-build'
        # Unique state file per branch/env
        backendAzureRmKey: '$(envName).terraform.tfstate' 
        backendAzureRmUseAzureAd: true

    - task: TerraformTask@5
      displayName: 'Plan'
      inputs:
        provider: 'azurerm'
        command: 'plan'
        commandOptions: '$(tfVars) $(extraVars)'
        environmentServiceNameAzureRM: $(azureServiceConnection)

- stage: Apply
  displayName: Apply - $(envName)
  dependsOn: Plan
  condition: succeeded()
  jobs:
  - deployment: Terraform_Apply
    # Links to the specific Environment (dev, qa, stage, prod) in ADO
    environment: '$(envName)' 
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self
          
          - task: TerraformInstaller@1
            inputs:
              terraformVersion: 'latest'

          - task: TerraformTask@5
            displayName: 'Init'
            inputs:
              provider: 'azurerm'
              command: 'init'
              backendServiceArm: $(azureServiceConnection)
              backendAzureRmResourceGroupName: 'terraform-deploy'
              backendAzureRmStorageAccountName: 'terraformsflg'
              backendAzureRmContainerName: 'tf-aks-build'
              backendAzureRmKey: '$(envName).terraform.tfstate' 
              backendAzureRmUseAzureAd: true
          
          - task: TerraformTask@5
            displayName: 'Apply'
            inputs:
              provider: 'azurerm'
              command: 'apply'
              commandOptions: '$(tfVars) $(extraVars) -auto-approve'
              environmentServiceNameAzureRM: $(azureServiceConnection)