trigger: none

parameters:
- name: environment
  displayName: Target Environment
  type: string
  default: prod
  values:
  - dev
  - stage
  - prod

variables:
  vmImageName: 'ubuntu-latest'
  azureServiceConnection: 'Azure subscription 1(525c7c1f-f5e9-4bf4-8d7a-5b7a06889a12)'
  tfVars: '-var-file=environments/${{ parameters.environment }}/terraform.tfvars'
  extraVars: '-var="subscription_id=$(SUB_ID)"'

pool:
  vmImage: $(vmImageName)

stages:
- stage: Plan
  displayName: Plan - ${{ parameters.environment }}
  jobs:
  - job: Terraform_Plan
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTask@5
      displayName: 'Init'
      inputs:
        provider: 'azurerm'
        command: 'init'
        backendServiceArm: $(azureServiceConnection)
        backendAzureRmResourceGroupName: 'terraform-deploy'
        backendAzureRmStorageAccountName: 'terraformsflg'
        backendAzureRmContainerName: 'tf-aks-build'
        # FIX: Unique state file per environment
        backendAzureRmKey: '${{ parameters.environment }}.terraform.tfstate' 
        backendAzureRmUseAzureAd: true

    - task: TerraformTask@5
      displayName: 'Plan'
      inputs:
        provider: 'azurerm'
        command: 'plan'
        commandOptions: '$(tfVars) $(extraVars)'
        environmentServiceNameAzureRM: $(azureServiceConnection)

- stage: Apply
  displayName: Apply - ${{ parameters.environment }}
  dependsOn: Plan
  condition: succeeded()
  jobs:
  - deployment: Terraform_Apply
    # FIX: Link to the specific environment for separate approval gates
    environment: '${{ parameters.environment }}' 
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self
          
          - task: TerraformInstaller@1
            displayName: 'Install Terraform'
            inputs:
              terraformVersion: 'latest'

          - task: TerraformTask@5
            displayName: 'Init'
            inputs:
              provider: 'azurerm'
              command: 'init'
              backendServiceArm: $(azureServiceConnection)
              backendAzureRmResourceGroupName: 'terraform-deploy'
              backendAzureRmStorageAccountName: 'terraformsflg'
              backendAzureRmContainerName: 'tf-aks-build'
              # FIX: Must match the Init key in the Plan stage
              backendAzureRmKey: '${{ parameters.environment }}.terraform.tfstate' 
              backendAzureRmUseAzureAd: true
          
          - task: TerraformTask@5
            displayName: 'Apply'
            inputs:
              provider: 'azurerm'
              command: 'apply'
              commandOptions: '$(tfVars) $(extraVars) -auto-approve'
              environmentServiceNameAzureRM: $(azureServiceConnection)