trigger: none

variables:
  vmImageName: 'ubuntu-latest'
  # The name of your Service Connection
  azureServiceConnection: 'Azure subscription 1(525c7c1f-f5e9-4bf4-8d7a-5b7a06889a12)'
  # The common var file path
  tfVars: '-var-file=environments/prod/terraform.tfvars'
  # Injecting your secret variable here (replace MY_SUB_ID_VAR with your actual variable name)
  extraVars: '-var="subscription_id=$(SUB_ID)"'

pool:
  vmImage: $(vmImageName)

stages:
- stage: Plan
  jobs:
  - job: Terraform_Plan
    steps:
    - task: TerraformInstaller@1
      displayName: 'Install Terraform'
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTask@5
      displayName: 'Init'
      inputs:
        provider: 'azurerm'
        command: 'init'
        backendServiceArm: $(azureServiceConnection)
        backendAzureRmResourceGroupName: 'terraform-deploy'
        backendAzureRmStorageAccountName: 'terraformsflg'
        backendAzureRmContainerName: 'tf-aks-build'
        backendAzureRmKey: 'terraform.tfstate'
        backendAzureRmUseAzureAd: true

    - task: TerraformTask@5
      displayName: 'Plan'
      inputs:
        provider: 'azurerm'
        command: 'plan'
        # Combines your file-based vars and your secret variable
        commandOptions: '$(tfVars) $(extraVars)'
        environmentServiceNameAzureRM: $(azureServiceConnection)

- stage: Apply
  dependsOn: Plan
  condition: succeeded()
  jobs:
  - deployment: Terraform_Apply
    environment: 'production'
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self
          
          - task: TerraformInstaller@1
            displayName: 'Install Terraform'
            inputs:
              terraformVersion: 'latest'

          - task: TerraformTask@5
            displayName: 'Init'
            inputs:
              provider: 'azurerm'
              command: 'init'
              backendServiceArm: $(azureServiceConnection)
              backendAzureRmResourceGroupName: 'terraform-deploy'
              backendAzureRmStorageAccountName: 'terraformsflg'
              backendAzureRmContainerName: 'tf-aks-build'
              backendAzureRmKey: 'terraform.tfstate'
              backendAzureRmUseAzureAd: true
          
          - task: TerraformTask@5
            displayName: 'Apply'
            inputs:
              provider: 'azurerm'
              command: 'apply'
              # Note the -auto-approve added here for non-interactive pipeline run
              commandOptions: '$(tfVars) $(extraVars) -auto-approve'
              environmentServiceNameAzureRM: $(azureServiceConnection)